[submodule "mods/castle"]
	path = mods/castle
	url = https://github.com/minetest-mods/castle.git
[submodule "mods/decor/flowerpot"]
	path = mods/decor/flowerpot
	url = https://github.com/minetest-mods/flowerpot.git
[submodule "mods/biomes/ethereal"]
	path = mods/biomes/ethereal
	url = https://notabug.org/TenPlus1/ethereal.git
[submodule "mods/animals/wildlife"]
	path = mods/animals/wildlife
	url = https://github.com/TheTermos/wildlife.git
[submodule "mods/animals/waterlife"]
	path = mods/animals/waterlife
	url = https://github.com/berengma/water_life.git
[submodule "mods/climate"]
	path = mods/climate
	url = https://github.com/t-affeldt/climate.git
[submodule "mods/animals/mob_core"]
	path = mods/animals/mob_core
	url = https://github.com/ElCeejo/mob_core
[submodule "mods/decor/jonez"]
	path = mods/decor/jonez
	url = https://github.com/runsy/jonez.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/tiborvansa/farming.git
[submodule "mods/utilities"]
	path = mods/utilities
	url = https://github.com/tiborvansa/utilities.git
[submodule "mods/npc"]
	path = mods/npc
	url = https://github.com/tiborvansa/npc
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mods/compatibility"]
	path = mods/compatibility
	url = https://github.com/tiborvansa/compatibility
[submodule "mods/user_interface"]
	path = mods/user_interface
	url = https://github.com/tiborvansa/user_interface
[submodule "mods/tools"]
	path = mods/tools
	url = https://github.com/tiborvansa/minetest-tools
[submodule "mods/materials"]
	path = mods/materials
	url = https://github.com/tiborvansa/minetets-materials
[submodule "mods/player"]
	path = mods/player
	url = https://github.com/bell07/minetest-player_api_modpack
[submodule "mods/weapons"]
	path = mods/weapons
	url = https://github.com/tiborvansa/minetest-weapons.git
[submodule "mods/magic"]
	path = mods/magic
	url = https://github.com/tiborvansa/minetest-magic_modpack.git
[submodule "mods/geology"]
	path = mods/geology
	url = https://github.com/tiborvansa/minetest-geology_modpack.git
[submodule "mods/techmod"]
	path = mods/techmod
	url = https://github.com/tiborvansa/minetest-tech_modpack.git
[submodule "mods/transportation"]
	path = mods/transportation
	url = https://github.com/tiborvansa/minetest-transportation_modpack.git
[submodule "mods/villages"]
	path = mods/villages
	url = https://github.com/tiborvansa/minetest-villages_modpack.git
[submodule "mods/mapgen"]
	path = mods/mapgen
	url = https://github.com/tiborvansa/minetest-mapgen_modpack.git
[submodule "mods/physics"]
	path = mods/physics
	url = https://github.com/tiborvansa/minetest-physics_modpack.git
[submodule "mods/visual_effects"]
	path = mods/visual_effects
	url = https://github.com/tiborvansa/minetest-visual_effects_modpack.git
[submodule "mods/homedecor"]
	path = mods/homedecor
	url = https://gitlab.com/VanessaE/homedecor_modpack.git