[submodule "mods/castle"]
	path = mods/castle
	url = https://github.com/minetest-mods/castle.git
[submodule "mods/decor/flowerpot"]
	path = mods/decor/flowerpot
	url = https://github.com/minetest-mods/flowerpot.git
[submodule "mods/villages/working_villages"]
	path = mods/villages/working_villages
	url = https://github.com/theFox6/working_villages.git
[submodule "mods/libs/smart_inventory"]
	path = mods/libs/smart_inventory
	url = https://github.com/minetest-mods/smart_inventory.git
[submodule "mods/biomes/ethereal"]
	path = mods/biomes/ethereal
	url = https://notabug.org/TenPlus1/ethereal.git
[submodule "mods/decor/cottages"]
	path = mods/decor/cottages
	url = https://github.com/Sokomine/cottages.git
[submodule "mods/animals/mobkit"]
	path = mods/animals/mobkit
	url = https://github.com/TheTermos/mobkit.git
[submodule "mods/animals/petz"]
	path = mods/animals/petz
	url = https://github.com/runsy/petz.git
[submodule "mods/animals/wildlife"]
	path = mods/animals/wildlife
	url = https://github.com/TheTermos/wildlife.git
[submodule "mods/animals/waterlife"]
	path = mods/animals/waterlife
	url = https://github.com/berengma/water_life.git
[submodule "mods/animals/aerotest"]
	path = mods/animals/aerotest
	url = https://github.com/berengma/aerotest.git
[submodule "mods/villages/advanced_npc"]
	path = mods/villages/advanced_npc
	url = https://github.com/hkzorman/advanced_npc.git
[submodule "mods/villages/mg_villages_npc"]
	path = mods/villages/mg_villages_npc
	url = https://github.com/hkzorman/mg_villages_npc.git
[submodule "mods/libs/handle_schematics"]
	path = mods/libs/handle_schematics
	url = https://github.com/Sokomine/handle_schematics.git
[submodule "mods/villages/mg_villages"]
	path = mods/villages/mg_villages
	url = https://github.com/Sokomine/mg_villages.git
[submodule "mods/villages/villagers"]
	path = mods/villages/villagers
	url = https://github.com/ErrorNull0/villagers.git
[submodule "mods/climate"]
	path = mods/climate
	url = https://github.com/t-affeldt/climate.git
[submodule "mods/tools/drawers"]
	path = mods/tools/drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "mods/player/skinsdb"]
	path = mods/player/skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
[submodule "mods/villages/mobf_trader"]
	path = mods/villages/mobf_trader
	url = https://github.com/Sokomine/mobf_trader.git
[submodule "mods/animals/better_fauna"]
	path = mods/animals/better_fauna
	url = https://github.com/ElCeejo/better_fauna.git
[submodule "mods/animals/mob_core"]
	path = mods/animals/mob_core
	url = https://github.com/ElCeejo/mob_core
[submodule "mods/animals/dmobs"]
	path = mods/animals/dmobs
	url = https://github.com/minetest-mobs-mods/dmobs
[submodule "mods/animals/nssm"]
	path = mods/animals/nssm
	url = https://github.com/NPXcoot/nssm
[submodule "mods/animals/desert_life"]
	path = mods/animals/desert_life
	url = https://github.com/NathanSalapat/desert_life
[submodule "mods/animals/arctic_life"]
	path = mods/animals/arctic_life
	url = https://github.com/NathanSalapat/arctic_life
[submodule "mods/tools/painting"]
	path = mods/tools/painting
	url = https://github.com/kaeza/painting.git
[submodule "mods/tools/hiking"]
	path = mods/tools/hiking
	url = https://gitlab.com/h2mm/hiking.git
[submodule "mods/tools/handholds_redo"]
	path = mods/tools/handholds_redo
	url = https://github.com/t-affeldt/handholds_redo.git
[submodule "mods/tools/slap_rotate"]
	path = mods/tools/slap_rotate
	url = https://github.com/AspireMint/slap_rotate.git
[submodule "mods/materials/unifiedbricks"]
	path = mods/materials/unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks.git
[submodule "mods/tools/grafitti"]
	path = mods/tools/grafitti
	url = https://github.com/AspireMint/grafitti.git
[submodule "mods/materials/stained_glass"]
	path = mods/materials/stained_glass
	url = https://github.com/minetest-mods/stained_glass.git
[submodule "mods/tools/colormachine"]
	path = mods/tools/colormachine
	url = https://github.com/Sokomine/colormachine.git
[submodule "mods/materials/cement"]
	path = mods/materials/cement
	url = https://gitlab.com/4w/cement.git
[submodule "mods/weapons/minetest-bows"]
	path = mods/weapons/minetest-bows
	url = https://github.com/Arcelmi/minetest-bows.git
[submodule "mods/weapons/spears"]
	path = mods/weapons/spears
	url = https://gitlab.com/echoes91/spears.git
[submodule "mods/weapons/cannons"]
	path = mods/weapons/cannons
	url = https://bitbucket.org/kingarthursteam/cannons.git
[submodule "mods/weapons/fort_spikes"]
	path = mods/weapons/fort_spikes
	url = https://gitlab.com/rautars/fort_spikes.git
[submodule "mods/ships/sailing_kit"]
	path = mods/ships/sailing_kit
	url = https://github.com/TheTermos/sailing_kit.git
[submodule "mods/transportation/hot_air_balloons"]
	path = mods/transportation/hot_air_balloons
	url = https://notabug.org/NetherEran/hot_air_balloons.git
[submodule "mods/libs/worldedit"]
	path = mods/libs/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "mods/technic/technic"]
	path = mods/technic/technic
	url = https://github.com/minetest-mods/technic.git
[submodule "mods/technic/pipeworks"]
	path = mods/technic/pipeworks
	url = https://gitlab.com/VanessaE/pipeworks.git
[submodule "mods/decor/jonez"]
	path = mods/decor/jonez
	url = https://github.com/runsy/jonez.git
[submodule "mods/decor/homedecor_modpack"]
	path = mods/decor/homedecor_modpack
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "mods/tools/signs_lib"]
	path = mods/tools/signs_lib
	url = https://gitlab.com/VanessaE/signs_lib.git
[submodule "mods/materials/basic_materials"]
	path = mods/materials/basic_materials
	url = https://gitlab.com/VanessaE/basic_materials.git
[submodule "mods/tools/cartographer_mtg"]
	path = mods/tools/cartographer_mtg
	url = https://gitlab.com/Df458/cartographer-mtg.git
[submodule "mods/tools/cartographer"]
	path = mods/tools/cartographer
	url = https://gitlab.com/Df458/cartographer.git
[submodule "mods/libs/config"]
	path = mods/libs/config
	url = https://bitbucket.org/sorcerykid/config.git
[submodule "mods/libs/formspecs"]
	path = mods/libs/formspecs
	url = https://bitbucket.org/sorcerykid/formspecs.git